body{
    background-image: url(assets/images/choosing-bg\ copy.jpg);
    background-size: auto;
    max-height: 100%;
    max-width: 100%;

    position: relative;
    .divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #fffdfd;
}
.h-custom {
height: calc(110% - 150px);
}
@media (max-width: px) {
.h-custom {
height: 100%;
}
}
}
