<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Magnitudes y medidas</title>
  <link rel="shortcut icon" type="image/png" href="logo.png" />
  <link rel="stylesheet" href="Modernize-1.0.0/srrc/assets/css/styles.min.css" />
  <link rel="stylesheet" href="assets/css/fontawesome.css">
  <link rel="stylesheet" href="assets/css/flex-slider.css">
  <link rel="stylesheet" href="assets/css/lightbox.css">
  <link rel="stylesheet" href="assets/css/owl.css">
  <link rel="stylesheet" href="assets/css/templatemo-grad-school.css">
  <link rel="stylesheet" href="assets/css/Login.css">
</head>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
    <aside class="left-sidebar">
      <!-- Sidebar scroll-->
      <div>
        <header class="main-header clearfix" role="header">
          <div class="logo">
            <a href="index.html"><em>Small</em> School</a>
          </div>
          <a href="#menu" class="menu-link"><i class="fa fa-bars"></i></a>
          <nav id="menu" class="main-nav" role="navigation">
            <ul class="main-menu">
              <li><a href="index.html">Inicio</a></li>
              <!-- <li><a href="#section5">Video</a></li> -->
              <li><a href="#section6">libros y videos</a></li>
              <li><a href="#section7" class="external">Juegos</a></li>
            </ul>
          </nav>
        </header>
     
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
          <ul id="sidebarnav">
            <li class="nav-small-cap">
              <i class="#"></i>
              <br> <br><br>
              <span class="hide-menu">TEMAS</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="matematica.html" aria-expanded="false">
                <span>
                  <i class="#"></i>
                </span>
                <span class="hide-menu">Que son las Matematicas?</span>
              </a>
            </li>
            <li class="nav-small-cap">
              <i class="#"></i>
              <span class="hide-menu"> Numeros</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="magnitudesymedidas.html" aria-expanded="false">
                <span>
                  <i class="#"></i>
                </span>
                <span class="hide-menu">Magnitudes y medidas</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="sumas y restas.html" aria-expanded="false">
                <span>
                  <i class="#"></i>
                </span>
                <span class="hide-menu">Sumas y restas.</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="numerosdigitos.html" aria-expanded="false">
                <span>
                  <i class="#"></i>
                </span>
                <span class="hide-menu">Números de varios dígitos</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="multiplicaciondivi.html" aria-expanded="false">
                <span>
                  <i class="#"></i>
                </span>
                <span class="hide-menu">Multiplicación y división</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="Areatrianpara.html" aria-expanded="false">
                <span>
                  <i class="#"></i>
                </span>
                <span class="hide-menu">Área de triángulos y paralelogramos</span>
              </a>
            </li>
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">Multiplicación y división</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="opefracc.html" aria-expanded="false">
                <span>
                  <i class="#"></i>
                </span>
                <span class="hide-menu">Operaciones con fracciones</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="./opedecimal.html" aria-expanded="false">
                <span>
                  <i class="#"></i>
                </span>
                <span class="hide-menu">Operaciones con decimales</span>
              </a>
            </li>
          </ul>
        </nav>
        <!-- End Sidebar navigation -->
      </div>
      <!-- End Sidebar scroll-->
    </aside>
    <!--  Sidebar End -->
    <!--  Main wrapper -->
    <div class="body-wrapper">
      <!--  Header Start -->
   
      <!--  Header End -->
      <div class="container-fluid">
        <div class="container-fluid">
          <div class="card">
            <div class="card-body">
              <h1 class="mb-4 fw-semibold">Magnitudes y medidas</h1>
              <div class="card mb-0">
                <div class="card-body p-4">
                  <center>
                  <img src="assets/images/magnitudes.jpg" alt="magnitudes"  >
                </center>
                <br>
                  <h5>Las magnitudes y las medidas son conceptos esenciales en nuestra comprensión del mundo. En estas dos hojas, exploraremos qué significan y cómo se relacionan.</h5> <br>
                  <h1 class="mb-4 fw-semibold">Magnitudes: ¿Qué Son?</h1>
                  <h5> <strong>Definición:</strong> Llamamos magnitud a cualquier entidad que podemos medir. Esto incluye propiedades como longitud, tiempo, carga, masa y energía. <br> 
                    <strong>Medir: </strong> Implica establecer una relación entre una entidad-magnitud y una unidad de medida. Por ejemplo, medimos la longitud en metros y el tiempo en segundos. <br> <br>
                    <strong>Criterios de Unidades:</strong> <br> <br>
                    <strong>Invariabilidad:</strong> Las unidades deben ser consistentes en cualquier lugar o condición. <br> <br>
                    <strong>Contrastabilidad:</strong> Deben ser comparables con cualquier cantidad de la magnitud medida. <br> <br>
                    <strong>Carácter Internacional:</strong> Deben ser comprensibles globalmente.</h5>
                    <br> 
                  <h1 class="fw-semibold mb-4">  Tipos de Magnitudes</h1> 
                  <h5> <strong>1.Magnitudes Fundamentales:</strong> 
                    Son las magnitudes primarias que no se definen en función de otras, es decir,  son aquellas que no están compuestas por otras magnitudes físicas, como por ejemplo el tiempo, simplemente es tiempo, igual la longitud(la medida de lo largo de algo) simplemente es longitud, o la distancia recorrida por un objeto, simplemente es distancia.. Ejemplos: longitud (L), tiempo (T) y masa (M). <br> <br>
                    <strong>Magnitudes Derivadas:</strong>
                    Se basan en otras magnitudes. Ejemplo: velocidad (espacio recorrido por unidad de tiempo) por otra parte, por otra parte se forman al mezclar ya sea multiplicando o dividiendo a las magnitudes fundamentales, un ejemplo seria la velocidad donde para saber cual es la velocidad a la que se movió un objeto de su punto de partida hasta llegar al a meta tenemos que dividir la distancia total entre el tiempo que le tomo llegar por tanto decíamos que velocidad es igual a distancia entre tiempo, y al estar compuesta de esta división la conocemos como una magnitud derivada..</h5>
                    <br>
                    <h1 class="fw-semibold mb-4"> En Resumen</h1>
                    <h5>Las magnitudes nos permiten igualar y sumar cantidades algebraicas. Son la base de la ciencia y la tecnología, y nos ayudan a comprender y cuantificar nuestro entorno.</h5>
                    <br>
                    <h1 class="mb-4 fw-semibold"> Que es una medida</h1>
                    <h5>Una media es comparar una magnitud con algún punto de referencia, por ejemplo al medir la longitud utilizamos el instrumento regla que tiene una escala graduada en centímetros, en el momento que hacemos la comparación de la altura de un objeto con nuestra escala estamos realizando una medida.</h5>
                    <br>
                    <h1 class=" fw-semibold mb-4">Unidad de medida</h1>
                    <h5>Por ultimo para terminar de entender este tema decimos que la longitud es una magnitud y la medida es tomar su comparación con un punto de referencia que viene a ser la escala, la unidad de medida es entonces la unidad de nuestra escala por ejemplo Metros en el caso de la longitud, otra unidad de medida sería el segundo para la magnitud tiempo, o kilogramos para la magnitud peso.</h5>
                    <br>
                    <h1 class=" fw-semibold mb-0">Lista de magnitudes y medidas principales.</h1>
                    <br><br>
                    <center>
                      <img src="assets/images/lista-de-magnitudes.png" alt="lsitas">
                    </center>
                    <br>
                    <h5 class="fw-semibold">Magnitudes fundamentales <br>
                      Longitud Metro (m) <br>
                      Masa Kilogramo (kg)br <br>
                      Tiempo Segundo (s) <br>
                      Temperatura Kelvin (K) <br>
                      Intensidad luminosa candela (cd) <br>
                      Corriente eléctrica Amperio (A) <br>
                      Cantidad de sustancia mol (mol) <br>
                      Magnitudes derivadas <br>
                      Área metro cuadrado (m^2) <br>
                      Velocidad metros entre segundos m/s <br>
                      Fuerza Newton N = (kg m/s^2) <br>
                      Presión Pascal (N/m^2)</h5>
                      <br> <br>
                      <a href="https://www.universoparaninos.com/escolar/?id=magnitudes-medidas-explicacion-ninos">https://www.universoparaninos.com/escolar/?id=magnitudes-medidas-explicacion-ninos</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div></div>
  </div>
  <script src="../assets/libs/jquery/dist/jquery.min.js"></script>
  <script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="../assets/js/sidebarmenu.js"></script>
  <script src="../assets/js/app.min.js"></script>
  <script src="../assets/libs/simplebar/dist/simplebar.js"></script>
</body>

</html>