<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Numerod de varios digitos</title>
  <link rel="shortcut icon" type="image/png" href="logo.png" />
  <link rel="stylesheet" href="Modernize-1.0.0/srrc/assets/css/styles.min.css" />
  <link rel="stylesheet" href="assets/css/fontawesome.css">
  <link rel="stylesheet" href="assets/css/flex-slider.css">
  <link rel="stylesheet" href="assets/css/lightbox.css">
  <link rel="stylesheet" href="assets/css/owl.css">
  <link rel="stylesheet" href="assets/css/templatemo-grad-school.css">
  <link rel="stylesheet" href="assets/css/Login.css">
</head>
<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
    <aside class="left-sidebar">
      <!-- Sidebar scroll-->
      <div>
        <header class="main-header clearfix" role="header">
          <div class="logo">
            <a href="index.html"><em>Small</em> School</a>
          </div>
          <a href="#menu" class="menu-link"><i class="fa fa-bars"></i></a>
          <nav id="menu" class="main-nav" role="navigation">
            <ul class="main-menu">
              <li><a href="index.html">Inicio</a></li>
              <!-- <li><a href="#section5">Video</a></li> -->
              <li><a href="#section6">libros y videos</a></li>
              <li><a href="#section7" class="external">Juegos</a></li>
            </ul>
          </nav>
        </header>
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
          <ul id="sidebarnav">
            <li class="nav-small-cap">
              <i class="#"></i>
              <br> <br><br>
              <span class="hide-menu">TEMAS</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="matematica.html" aria-expanded="false">
                <span>
                  <i class="#"></i>
                </span>
                <span class="hide-menu">Que son las Matematicas?</span>
              </a>
            </li>
            <li class="nav-small-cap">
              <i class="#"></i>
              <span class="hide-menu"> Numeros</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="magnitudesymedidas.html" aria-expanded="false">
                <span>
                  <i class="#"></i>
                </span>
                <span class="hide-menu">Magnitudes y medidas</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="sumas y restas.html" aria-expanded="false">
                <span>
                  <i class="#"></i>
                </span>
                <span class="hide-menu">Sumas y restas.</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="numerosdigitos.html" aria-expanded="false">
                <span>
                  <i class="#"></i>
                </span>
                <span class="hide-menu">Números de varios dígitos</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="multiplicaciondivi.html" aria-expanded="false">
                <span>
                  <i class="#"></i>
                </span>
                <span class="hide-menu">Multiplicación y división</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="Areatrianpara.html" aria-expanded="false">
                <span>
                  <i class="#"></i>
                </span>
                <span class="hide-menu">Área de triángulos y paralelogramos</span>
              </a>
            </li>
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">Multiplicación y división</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="opefracc.html" aria-expanded="false">
                <span>
                  <i class="#"></i>
                </span>
                <span class="hide-menu">Operaciones con fracciones</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="./opedecimal.html" aria-expanded="false">
                <span>
                  <i class="#"></i>
                </span>
                <span class="hide-menu">Operaciones con decimales</span>
              </a>
            </li>
          </ul>
        </nav>
        <!-- End Sidebar navigation -->
      </div>
      <!-- End Sidebar scroll-->
    </aside>
    <!--  Sidebar End -->
    <!--  Main wrapper -->
    <div class="body-wrapper">
      <!--  Header Start -->
      <!--  Header End -->
      <div class="container-fluid">
        <div class="container-fluid">
          <div class="card">
            <div class="card-body">
              <h1 class="fw-semibold mb-4">Numeros de Varios digitos</h1>
              <div class="card mb-0">
                <div class="card-body p-4">
                  <h5>Un dígito o cifra es un símbolo individual que se usa para construir numerales.
                    <br> <br>
                    0, 1, 2, 3, 4, 5, 6, 7, 8 y 9 son los diez dígitos que usamos en los números de siempre.</h5>
                    <center><img src="assets/images/digito.gif" alt=""> </center>
                    <br> <br>
                    <h5>Con los dígitos hacemos numerales, y los numerales representan la idea de un número.
                      <br><br>
                      <center><img src="assets/images/digit-numeral-number .gif" alt=""></center>
                      <br> <br>
                      Eso igual que cuando las letras forman palabras, y las palabras representan la idea de una cosa</h5>
                      <br><br>
                      <center><img src="assets/images/digit-numeral-number (2).gif" alt=""></center>
                      <br><br>
                      <h5>Los números de varios dígitos son aquellos que tienen más de un dígito. En otras palabras, son números que están formados por más de una cifra. Por ejemplo: <br> <br>

                        El número 1234 es un polidígito porque tiene cuatro dígitos. <br> <br>
                        El número 56789 también es un polidígito porque tiene cinco dígitos. <br> <br>
                        En matemáticas, cuando trabajamos con números de varios dígitos, es importante entender el valor posicional de cada cifra. Esto significa que el lugar que ocupa cada dígito en el número afecta su valor. Por ejemplo, en el número 1234, el 1 está en la posición de las unidades de mil, el 2 está en la posición de las centenas, el 3 en las decenas y el 4 en las unidades. <br> <br>
                        
                        Los números de varios dígitos nos permiten representar cantidades más grandes y realizar operaciones matemáticas más complejas. ¡Es como armar un rompecabezas numérico!</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="../assets/libs/jquery/dist/jquery.min.js"></script>
  <script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="../assets/js/sidebarmenu.js"></script>
  <script src="../assets/js/app.min.js"></script>
  <script src="../assets/libs/simplebar/dist/simplebar.js"></script>
</body>

</html>